*{
    margin: 0;
    padding: 0;
    background-image: url("https://i.giphy.com/media/TxVVB6PfWMjE4/200.webp");
}




.logo{
    background: url("https://i.dlpng.com/static/png/253278_thumb.png") center center no-repeat;
    height: 300px;
    display: flex;
    justify-content: center;
   

    
}

.container{
  border: 3px solid yellow;
  border-radius: 15px;
  width: 600px;
  height: 250px;
  margin: 0 auto;
  margin-top: -25px;
}

.btnSomeOne{
    margin-top: 20px;
    border: 3px solid yellow;
    border-radius: 10px;
    width: 180px;
    height: 40px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: white;

}

.mainBtn{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.styleName{
    font-size: 50px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.styleP{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}


#fontLoading{
    color: white !important;
    background-color: white !important;
    display: relative;
     margin-top: 100px;
     margin-left: 47%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    font-size: 40px;

}